### MERT parameters
# target sentences file name (in this case, file name prefix)
-r	+TRAINING_ROOT_DIR+/devTestData/devTest.e
-rps	1                                 # references per sentence
-p	config/mert_reranker/mert_reranker_params.txt              # parameter file
-m	WER          # evaluation metric and its options
-maxIt	10                      # maximum MERT iterations
-ipi	20                      # number of intermediate initial points per iteration
-cmd	+TRAINING_ROOT_DIR+/mert_reranker/mert_reranker_command         # file containing commands to run decoder
-decOut	+TRAINING_ROOT_DIR+/mert_reranker/test.reranker_output.nbest     # file prodcued by decoder
-dcfg	+TRAINING_ROOT_DIR+/mert_reranker/reranker.config           # decoder config file
-N	300                     # size of N-best list generated each iteration
-v	1                       # verbosity level (0-2; higher value => more verbose)
-seed   12341234                # random number generator seed
